@model IEnumerable<Project_college.Models.SalleType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<span class="badge badge-primary">Salle Type</span>


    <table class="table">
        <thead>
            <tr class="table-primary">
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th><a asp-action="Create" class="btn btn-outline-success"><i class="far fa-plus-square"></i> Salle Type</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table-active">
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        <a asp-action="Create" asp-route-id="@item.SalleTypeId"><i class="fa fa-marker fa-lg"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.SalleTypeId" class="text-danger ml-1" onclick="return confirm('Are you sure to delete this record?')"><i class="fa fa-trash-alt fa-lg"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
