@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1 class="display-3">TEK-UP University SI</h1>
    <p class="lead">This is the information system of TEK-UP university absence management.</p>
    <hr class="my-4">
   
    <p class="lead">
        <a class="btn btn-primary btn-lg" asp-controller="Absences" asp-action="Index">Registre d'absences</a>
    </p>
</div>